.wrapper {
    position: relative;
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    height: 95vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: min(15vw, 300px);
    color: var(--color-secondary);
    text-transform: lowercase;
    font-family: var(--font-galano-bold);
    z-index: -1;
}

.container {
    position: relative;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

.buttonLeft {
    position: absolute;
    left: -25px;
    width: 50px;
    height: 50px;
    max-height: 50px;
    max-width: 50px;
}

.buttonLeft > button, .buttonRight > button {
    border-radius: 50%;
}

.arrowLeft {
    rotate: 180deg;
}

.buttonRight {
    position: absolute;
    right: -25px;
    width: 50px;
    height: 50px;
    max-height: 50px;
    max-width: 50px;
}

.dots {
    position: relative;
    width: 70%;
    height: 10%;
}
