.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 105vh;
    min-height: 600px;
    max-height: 1000px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: min(15vw, 300px);
    color: var(--color-secondary);
    text-transform: lowercase;
    font-family: var(--font-galano-bold);
    z-index: -1;
}

.container {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: min(10vw, 192px);
    max-width: 1430px;
}

.buttonLeft {
    position: absolute;
    left: -25px;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.buttonLeft > button, .buttonRight > button {
    border-radius: 50%;
}

.arrowRight {
    position: absolute;
}

.arrowLeft {
    rotate: 180deg;
    position: absolute;
}

.buttonRight {
    position: absolute;
    right: -25px;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dots {
    position: relative;
    width: 70%;
    height: 10%;
}

.swipe {
    position: absolute;
    width: 64px;
    height: 64px;
    right: 50%;
    transform: translateX(50%);
    bottom: 30%;
    animation: swipe 1s ease-in-out infinite;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

@keyframes swipe {
    0% {
        transform: translateX(40%);
    }
    50% {
        transform: translateX(60%);
    }
    100% {
        transform: translateX(40%);
    }
}

@media (max-width: 1500px) {
    .container {
        width: 90%;
    }
    .wrapper {
        height: 90vh;
    }
}

@media (max-width: 768px) {
    .wrapper {
        height: 80vh;
    }
    .swipe {
        display: flex;
    }
    .container {
        width: 90%;
    }
    .buttonLeft {
        opacity: 0 !important;
        pointer-events: none !important;
    }
    .buttonRight {
        opacity: 0 !important;
        pointer-events: none !important;
    }
}