.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 450px;
    flex-basis: 25%;
    column-gap: 30px;
    row-gap: 20px;
    overflow-x: hidden;
}


.navLinks > :nth-child(4) {
    min-height: 100px;
    max-width: 150px;
}

.navLink {
    font-size: 20px;
    font-family: var(--font-galano-bold);
    color: var(--color-text);
    transition: 0.25s;
    line-height: 1.5;
    width: 50%;
    max-width: 50%;
}

.navLink:hover {
    color: var(--color-accent);
}

@media screen and (max-width: 681px) {
    .navLinks  {
        margin-top: 20px;
        max-height: 350px;
    }
}

@media screen and (max-width: 350px) {
    .navLinks > *:nth-child(4) {
        min-height: 0;
    }
}