.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.image img {
    width: 100%;
    max-width: 100px;
    height: auto;
}