.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding);
    padding-top: 7%;
    padding-bottom: 7%;
    margin-top: -7%;
    margin-bottom: -7%;
    overflow: hidden;
}

.image {
    aspect-ratio: 1.5/1;
    max-width: calc(25% - 15px);
    margin: 0 auto;
    border: 1px solid var(--color-secondary);
    scale: 1;
    transition: border .5s ease-in-out, box-shadow .25s ease-in-out, transform .5s ease-in-out, aspect-ratio .5s ease-in-out;
    background-color: var(--color-primary);
}

.image:hover {
    border: 1px solid var(--color-line);
    box-shadow: 0 0 10px var(--color-line);
    transform: rotate(90deg);
    z-index: 1;
    aspect-ratio: 1/.666;
}

.image:hover img {
    scale: 1.1;
    transform: rotate(-90deg);
}

.image:nth-child(2n):hover {
    transform: rotate(-90deg);
}

.image:nth-child(2n):hover img {
    transform: rotate(90deg);
}

.image img {
    width: 80%;
    max-width: 240px;
    height: auto; 
    transition: scale .5s ease-in-out, transform .5s ease-in-out;
}

@media screen and (min-width: 1470px) {
    .wrapper {
        padding: 0;
        padding-top: 7%;
        padding-bottom: 7%;
    }
}

@media screen and (max-width: 900px) {
    .image {
        max-width: calc(33.33% - 15px);
    }
}

@media screen and (max-width: 600px) {
    .image {
        max-width: calc(50% - 10px);
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        padding-top: 20%;
        padding-bottom: 20%;
        margin-top: -20%;
        margin-bottom: -20%;
    }
    .image {
        max-width: 90%;
    }
    .image img {
        width: 80%;
        height: auto;
    }
}