.header {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: var(--max-width);
    min-height: 45vh;
    margin: 0 auto;
    padding: min(10vw, 140px);
    padding-right: 15%;
    padding-left: var(--padding);
    font-size: var(--font-size-l);
    font-family: var(--font-galano-bold);
    line-height: 1.15;
    
}
