.header {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: var(--med-width);
    min-height: min(45vh, 600px);
    margin: 0 auto;
    padding: min(10vw, 140px);
    padding-right: min(15%, 140px);
    padding-left: var(--padding);
    font-size: var(--font-size-l);
    font-family: var(--font-galano-bold);
    line-height: 1.15;
}
