.arrow {
    transform: rotate(-45deg);
    min-width: 12px;
    min-height: 12px;
    border-right: 6px solid white;
    border-bottom: 6px solid white;
}

@media (max-width: 540px) {
    .arrow {
        min-width: 10px;
        min-height: 10px;
        border-right: 5px solid white;
        border-bottom: 5px solid white;
    }
}
