:root {
    --navbar-height-max: 90px;
    --navbar-height-min: 62px;
    --full-width: 1920px;
    --med-width: 1500px;
    --padding: 30px;
    --font-size-xxl: max(min(20vw, 500px), 150px);
    --font-size-xl: max(min(5vw, 90px), 25px);
    --font-size-l: max(min(3.7vw, 80px), 30px);
    --font-size-m: max(min(2.5vw, 60px), 25px);
    --font-size-s: max(min(1.5vw, 35px), 15px);
    --font-size-xs: max(min(1.2vw, 25px), 10px);
}
