.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40%;
    min-height: 200px;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 80px;
    transition: 0.1s;
}

.image {
    width: 100%;
    height: auto;
    z-index: -1;
}

.video {
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    z-index: -1;
    transition: 0.25s;
}

.image > img {
    transform: scale(1);
    filter: brightness(1);
    transition: 0.25s;
}

.item:hover .image > img, .item:hover .video {
    transform: scale(1.05);
    filter: brightness(1.05);
}

.item:hover .overlay > * {
    color: var(--color-accent);
}

.item:hover .linkArrowBackground {
    background-color: var(--color-accent-light);
    transform: translateX(5px)
}

.overlay {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-top: 10px;
    transition: 0.25s;
}

.name, .description {
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
    font-size: 90%;
    font-family: var(--font-galano-bold);
    transition: 0.25s;
}
.description {
    font-size: 125%;
}
.name {
    font-size: 100%;
    color: var(--color-accent);
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-galano-bold);
    font-size: 90%;
    transition: 0.25s;
    gap: 10px;
    padding-top: 5px;
}

.linkArrowBackground {
    position: relative;
    background-color: var(--color-accent);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.arrow > path {
    position: absolute;
    fill: var(--color-primary);
}

@media (min-width: 1429px) {
    .item {
        width: 25%;
    }
}

@media (min-width: 1800px) {
    .item {
        width: 30%;
    }

}

@media (max-width: 769px) {
    .item {
        width: 90%;
    }
}

