.wrapper {
    position: relative;
    width: 70%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dots {
    position: relative;
    display: flex;
    flex-direction: row;
    opacity: 0;
    scale: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.dot {
    width: 10px;
    height: 10px;
    border: 1px solid var(--color-accent);
    border-radius: 50%;
    background-color: var(--color-accent);
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.dot:hover {
    background-color: transparent;
}

.mover {
    position: absolute;
    background-color: var(--color-accent-light);
    transition: 0.5s;
}

.selected {
    background-color: var(--color-accent-light);
    scale: 1.5;
    animation: select 1.5s ease-in-out forwards !important;
}

@keyframes select {
    0% {
        background-color: transparent;
        scale: 1;
    }
    100% {
        background-color: var(--color-accent-light);
        scale: 1.5;
    }
}
