.wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    min-height: min(40vh, 600px);
    margin-top: min(10vh, 100px);
}

.headers {
    position: absolute;
    top: 35%;
    width: 70%;
    height: auto;
    left: 25%;
    z-index: 2;
}

.header {
    font-size: var(--font-size-l);
    color: var(--color-text);
    font-family: var(--font-galano-bold);
}

.numbers {
    position: absolute;
    left: 2%;
    top: 15%;
    height: var(--font-size-xxl);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.numbersCover {
    position: absolute;
    left: 2%;
    top: calc(15% - 1px);
    height: calc(var(--font-size-xxl) + 2px);
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    background-image: linear-gradient(180deg, var(--color-primary) 0%, transparent 20%, transparent 80%, var(--color-primary) 100%);
}

.numberWrapper {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(0);
}

.animate {
    animation: animateNumbers 2.5s ease-out forwards;
}

.number {
    position: relative;
    color: var(--color-accent);
    font-size: var(--font-size-xxl);
    font-family: var(--font-galano-bold);
}

@keyframes animateNumbers {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(calc(-100% + var(--font-size-xxl)));
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .headers {
        height: auto;
        line-height: 1.25;
    }
}
