.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn .5s ease-in-out forwards;
    border: 1px solid var(--color-line);
    padding: 80px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.foto {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.person {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.name {
    font-size: 24px;
    font-family: var(--font-galano-bold);
    margin-bottom: 10px;
}

.content {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--color-secondary);
}

.quote {
    min-width: 80px;
    height: 80px;
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
    color: var(--color-secondary);
}


.opinion {
    position: relative;
    width: 100%;
    height: calc(100% - 30px);
    padding-left: 40px;
    padding-right: .5em;
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.2;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-anchor: auto;
    text-align: justify;
    text-align-last: left;
    text-indent: 3em;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: 0px;  /* Firefox */
    scroll-timeline: --edgeTimeline y;
    scroll-timeline: --edgeTimeline vertical;
}

.opinion::-webkit-scrollbar {
    width: 5px;
}
  
.opinion::-webkit-scrollbar-track {
    background: transparent;
}

.opinion::-webkit-scrollbar-thumb {
    background: var(--color-accent);
}

.opinion::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent-light);
}

.edgeTop {
    position: sticky;
    top: -1px;
    height: 0;
    width: 100%;
    background: linear-gradient(to top, transparent 0%, var(--color-primary) 100%);  
    z-index: 1;
    animation-name: edgeTop;
    animation-duration: 1ms; 
    animation-timeline: --edgeTimeline;
    transform: translateY(-100%);
}

.edgeBottom {
    position: sticky;
    bottom: -1px;
    height: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, var(--color-primary) 100%);
    z-index: 1;
    animation-name: edgeBottom;
    animation-duration: 1ms; 
    animation-timeline: --edgeTimeline;
    transform: translateY(100%);
}

@keyframes edgeTop {
    0% {
        transform: translateY(-100%);
        height: 0;
    }
    5% {
        transform: translateY(0);
        height: 30px;
    }
    100% {
        transform: translateY(0);
        height: 30px;
    }
}

@keyframes edgeBottom {
    0% {
        transform: translateY(0);
        height: 30px;
    }
    95% {
        transform: translateY(0);
        height: 30px;
    }
    100% {
        transform: translateY(100%);
        height: 0;
    }
}

.line {
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--color-line);
    height: 30px;
    margin-top: 1px;
}

.logo {
    height: 70px;
}

.logo img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0 30px;
    }

    .person {
        padding-left: 20px;
    }

    .content {
        height: 60%;
    }

    .quote {
        display: none;
    }

    .opinion {
        font-size: 16px;
        width: 100%;
    }
}