.wrapper {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 45vw;
    max-height: 450px;
    min-height: 300px;
    margin: 50px auto;
    background-color: var(--color-primary);
    overflow: hidden;
}

.extender {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1570px;
    margin: 0 auto;
}

.mover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-accent);
    transition: .5s;
}

.image {
    position: absolute;
    top: 0;
    width: 45%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .5s;
}

.textWrapper {
    position: absolute;
    width: 35%;
    height: 100%;
    transition: .75s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.header {
    font-family: var(--font-galano-bold);
    font-size: min(5vw, 27px);
    transition: .5s;
    width: 80%;
    max-width: 300px;
}

.text {
    font-size: min(3vw, 18px);
    transition: .5s;
    width: 80%;
    max-width: 300px;
    line-height: 1.4;
}
