.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image, .blur {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blur {
    position: absolute;
    animation: lighten 1s ease-in-out alternate infinite;
    border: 1px solid white;
    transform: scale(1.01);
}

@keyframes lighten {
    0% {
        filter: grayscale(1) brightness(1.2);
    }
    100% {
        filter: grayscale(0) brightness(1);
    }
}