.wrapper {
    width: 100%;  
    height: 100%;
    position: relative;
    /* overflow: hidden; */
    max-width: 1430px;
    margin: 0 auto;
    perspective: 1000px;
}

.slide {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: .65s;
    background-color: var(--color-primary);
}

.right {
    transform: translateX(160%) rotateY(60deg) scale(0.5);
    opacity: 0; 
}

.left {
    transform: translateX(-50%) rotateY(-60deg) scale(0.5);
    opacity: 0;
}

.selectedLeft {
    transform: translateX(0%) rotateY(0deg) scale(1);
    opacity: 1;
}

.selectedRight {
    transform: translateX(110%) rotateY(0deg) scale(1);
    opacity: 1;
}

.deselectedRight {
    transform: translateX(210%) rotateY(60deg) scale(0.5);
    opacity: 0;
}

.deselectedLeft {
    transform: translateX(-100%) rotateY(-60deg) scale(0.5);
    opacity: 0;
}