.address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-style: normal;
}

.addressTitle {
    font-size: 33px;
    font-family: var(--font-galano-bold);
    color: var(--color-text);
    margin-bottom: 30px;
}

.addressText {
    font-size: 18px;
    font-family: var(--font-galano);
    color: var(--color-text);
}

.addressEmail {
    font-size: 22px;
    font-family: var(--font-galano-bold);
    color: var(--color-accent);
    margin-top: 33px;
}

.addressEmail a {
    color: var(--color-accent);
    transition: 0.25s;
}

.addressEmail a:hover {
    color: var(--color-accent-light);
}
